.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    padding: 80px 0;
    height: 100vh;
    font-family: var(--font);
    background-color: #000000;
}

h1{
    color: #c49629;
}

h3{
    color: #fff;
    text-align: center;
}


.roleta{
    position: relative;
}

.logoImg{
    position: absolute;
    height: 100px;
    width: 100px;
    z-index: 22;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

button{
    background-color: #c49629;
    color: white;
    padding: 8px 12px;
    border: none;
    font-weight: bold;
    border-radius: 4px;
}